@mixin grid($prefix) {
  @for $i from 1 through 12 {
    .col-#{$prefix}-#{$i} {
      $width: 100% / 12 * $i;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

@media(max-width: 767px) {
  @include grid('sm');
}

@media(min-width: 768px) {
  @include grid('md');
}

@media(min-width: 992px) {
  @include grid('lg');
}

@media(min-width: 1200px) {
  @include grid('xl');
}

@mixin paragraph {
	font-family: $page-header-font;
	color:  $button-grey-inactive;
}

@mixin line { 
  display: flex;
  justify-content: center; 
  margin: 0 auto;  
  padding-bottom: 20px;
  border-bottom: 1px solid $disabled-buton;
}

@mixin button {
  background-color: $button-orange-inactive;
  border-style: none;
  border-radius: 5px; 
  &:hover {
    background-color: $button-orange-active;
    cursor: pointer;
  }
}

@mixin table-td($prefix) {
  width: $prefix;
  padding: 10px 0 10px 0;
  border-top: 1px solid $disabled-buton;
  border-bottom: 1px solid $disabled-buton;
}

@mixin table-layout($prefix) {
  text-align: $prefix;
  margin: 0 auto;
  border-collapse: collapse;  
}

@mixin table {
  table {
    max-height: 400px;
    overflow: auto;   
  }

  h4 {
    padding-bottom: 40px;
    text-align: left;
  }
  td {      
    padding: 5px;
    font-size: 12px;
    font-family: $page-header-font;
    font-weight: lighter;
    
    justify-content: spacebetween;    
    
    &:hover {
      background-color: $disabled-buton;
      i { 
        visibility: visible;
      }
    } 
  }

  i {
    display: flex;
    flex-direction: row;
    margin: auto 0 auto auto;        
    font-size: .75em;   
    color: $links;    
    visibility: hidden;
  }
}

@mixin input-field($prefix) {
  input[type=text],
  input[type=password],
  textarea, 
  select { 
    padding: $prefix;   
    margin: 8px 0;      
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: content-box;
    background-color: $main-color;
    color: $button-grey-active;  
  }
}