.links {
	@include line;
	border-bottom: none;	
}

.add-new {
	font-family: $brand-font;
	font-weight: lighter;
	font-size: 1.2em;
	width: 120px;
	height: 40px;
	color: $main-color;
	@include button;	
}

.space > h3 {	
	margin: 0;
	font-size: 1em;
	color: $button-grey-inactive;
	font-family: $page-header-font;
}

.space > a {
	font-family: $page-header-font;
	font-weight: lighter;
	text-decoration: none;
	color: $links;
	&:hover {
		cursor: pointer;
		color:$button-orange-active;
	}
}

.page-links {
	@include table-layout(left);
	tr {
		td {
			@include table-td(200px);
		}
		&:hover {
			[class*=icon-hide] {
				visibility: visible;
				cursor: pointer;
			}
		}
	}
}

.icon-trash {
	color:$notification-negative-active;
}

.icoLink {
	color:$links;
}

.icons {		
	text-align: right;	
}

.under {
	padding-top: 20px;
}

[class*=icon-hide] {	
	padding-right: 10px;
	visibility: hidden;	
}





