.personal-info {
	margin: 0 auto;
	max-width: 400px;
}

.personal-field {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	h4 {
		margin: auto 0 auto 0;
		padding: 0 50px 0 0;
		font-family: $page-header-font;
	}
	input {
		width: 200px;
	}
		@include input-field(10px);
		@media only screen and (max-width: 510px) {
			@include input-field(2px);
		}
}
	@media only screen and (max-width: 340px) {
		.personal-field {
			input {
				width: 100px;
			}
		}
	}


.field {
	width: 300px;
}
