textarea {
	resize: none;
	padding: 120px;
	margin: 20px;
}

.postback-area {
	display: flex;	
    justify-content: space-evenly;
    @include input-field(100px);
}

.postback-box {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 20px;
	h4 {
		margin: 20px 20px 20px 0;
		text-align: left;
	}
}

.rnd-text {
	padding-left: 20px;
}

.postaback-select {
	display: flex;
	padding: 20px;
	justify-content: space-between;
	
	h4 {
		text-align: left;		
	}

	@include input-field(10px);
	select {
		width: 300px;
	} 
}

.table-column-postback {
	max-height: 200px;
	overflow: auto;
}

.postback-table {
	padding: 15px;	
	display: flex;
	@include table (100px);
	table {		
		flex-basis: 49%;
		i {
			padding-left: 150px;
		}
	}
}

.slider {
	width: 66%;
	padding-left: 144px;
}

.right {
	justify-content: flex-end;
	padding-right: 50px;
}

.middle-line-post {		
		&:after{
		content:"";
	    position: absolute;	   
	    top: 721px;
	    height: 199px;
	    left: 51%;
	    border-left: 1px solid $disabled-buton;
	    transform: translate(-50%);
	}	
}
