.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 30px;
  display: none;
}

.overlay.showModal {
  display: flex;
}

.modal {
  margin: auto;
  background-color: #ffffff;
  position: relative;
  display: none;
	@include input-field(10px);

	.modal-header {
		display: flex;
		margin: 0;
		.lang {
			margin-right: 0;
		}
	}

	h4 {
		display: inline;
		padding: 0;
		margin-left: 0;
		font-family: $page-header-font;
	}

	h3 {
		margin-left: 20px;
		font-family: $page-header-font;
		color: $button-grey-active;
		text-transform: uppercase;
	}

	.line {
		border-bottom: 1px solid $disabled-buton;
	}

	i {
		color: $button-grey-active;
		cursor: pointer;
	}
	form {
		padding: 20px;
	}
}

.border-input-link {
	width: 300px;
  margin: 5px;
	border: 1px solid black;
}

.modal.showModal {
	justify-content: center;
	align-items: center;
	display: block;
}

.modal .btn-close {
  position: absolute;
  padding: 20px;
  top: 0;
  right: 0;
}

.select-option {
   	display: flex;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

	input {
    	position: absolute;
   		opacity: 0;
    	cursor: pointer;
    }

    &:hover input ~ .checkmark {

	}

	input:checked ~ .checkmark {
   		background-color: $marks;
	}

	input:checked ~ .checkmark:after {
    	display: block;
	}
	.checkmark{
		&:after {
		    left: 4px;
		    top: 0px;
		    width: 5px;
		    height: 8px;
		    border: solid $main-color;
		    border-width: 0 2px 2px 0;
		    -webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
		}
	}
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: $main-color;
    border: 1px solid $disabled-buton;
	&:after {
	    content: "";
	    position: absolute;
	    display: none;
	}
}

.middle-line {
		&:after{
		content:"";
	    position: absolute;
	    top: 292px;
	    height: 489px;
	    left: 50%;
	    border-left: 1px solid $disabled-buton;
	    transform: translate(-50%);
	}
}

.form-box {
	display: flex;
	flex-direction: column;
}

.select-box {
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 0 10px 0 10px;
	width: -webkit-fill-available;
}

.last-box {
	select {
		width: 20%;
	}
}

.quit {
	width: 500px;
	.btn-quit {
		justify-content: flex-end;
		button {
			width: 100px;
			margin: 0 10px 0 10px;
		}
	}

	.btn-copy {
		background-color: $button-grey-inactive;
	}

}


.table-column {
	padding: 15px;
	display: flex;
	@include table (400px);
	table {
		flex-basis: 49%;
		i {
			padding-left: 150px;
		}
	}
}

.base {
	padding-right: 10px;
}

.table-header {
	display: flex;
	padding: 20px 0 20px 20px;
}

.modal-container {
	display: flex;
	padding: 20px;
	flex-basis: 100%;
  	flex-wrap: wrap;
	overflow-y: auto;
	@include table (250px);
	table {
		width: 100%;
	}
}

.btn-copy {
	font-family: $brand-font;
	font-weight: lighter;
	width: 160px;
	height: 44px;
	color: $main-color;
	i {
		padding: 10px;
		color: $main-color;
	}
	@include button;
	background-color: $disabled-buton;
}

.btn-save {
	width: 100px;
	height: 44px;
	color: $main-color;
	@include button;
}

.modal-footer {
	form {
		input{
			width: 400px;
		}
	}
}

::-webkit-scrollbar {
    width: 10px;
    margin: 65px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
