.sidebar {
	margin: 0 auto;
	background-color: $paragraph-alternative-color;
	width: 200px;
	position: fixed;
	height: 100vh;
	transition: all 1.5s ease-out;	
}

.logo {
	padding: 5px;

	img {
		padding: 20px;		
	}
}

ul {
	padding: 0;	
	
	li {		
		list-style-type: none;		
		padding: 15px;
		border-left: 3px solid $paragraph-alternative-color;		
		a {	
			margin-left: 10px;
			font-family: $page-header-font;
			text-decoration: none;
			color:  $button-grey-inactive;							
		}				
	
		&:hover {
			background-color: rgba(100,100,100,.5);
			cursor: pointer;
			border-left: 3px solid $button-orange-inactive;			
		}
		
		&:hover > a{
			color: $main-color;
		}

		&:hover > svg {
			fill: $main-color;
		}

	}
}

svg {
	width: 20px;
	height: 20px;
	fill: $button-grey-inactive;
}

hr {
	border: .5px solid $button-grey-inactive;
}

.show {
	transform: translateX(-200px);
}

.hamburger {
	transition: all 1.5s ease-out;
}

.one {
	transform: translateX(70px);
}

.users > h4 {
	padding-top: 10px;
	margin: 0 auto;
	text-align: center;
	color: $button-grey-inactive;
}

.users > img,p {
	padding: 20px;
	float: left;
	position: relative;
	color: $links;
}

.users > img {
	margin-left: 20px;
}

.users > .circle {
	margin: 20px;
	margin-left: 50px;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	position: absolute;
	background-color: red;
}
		

