.sidebar {
	margin: 0 auto;
	background-color: $paragraph-alternative-color;
	width: 200px;
	position: fixed;
	height: 100vh;
	transition: all .5s;
	top: 0;
	left: 0;
}

.logo {
	padding: 0px;

	img {
		padding: 10px;
	}
}

a {
	text-decoration: none;
}

ul {
	padding: 0;

	.sidebar-menu {
		list-style-type: none;
		padding: 15px;		
		display: flex;
		justify-content: start;
		a {
			margin-left: 10px;
			@include paragraph;
		}

		&:hover {
			background-color: rgba(100,100,100,.5);
			cursor: pointer;
			border-left: 3px solid $button-orange-inactive;
		}

		&:hover > a{
			color: $main-color;
		}

		&:hover > .sidebarIco {
			color: $main-color;
		}
	}
}

.sidebarIco {
	width: 18px;
	height: 18px;
	color: $button-grey-inactive;
}

hr {
	border: .5px solid $button-grey-inactive;
}

.hide {
	transform: translateX(-400px);
}

.hideY {
	transform: translateY(-630px);
}

.flex {
  margin-left: 0px;
}

.hamburger {
	margin-left: 20%;
	transition: all .5s;
}

.hamburgerX {
	transform: translateX(270px);
}

.hamburgerY {
	transform: translateY(625px);
}

h4 {
	padding-top: 10px;
	margin: 0 auto;
	text-align: center;
	color: $button-grey-inactive;
}

.users {
	padding: 20px;
	display: flex;
	align-items: center;
}
.active {
		background-color: rgba(100,100,100,.5);
		cursor: pointer;
		border-left: 3px solid $button-orange-inactive;
		color: $main-color;
}

.users  a {
	padding-left: 20px;
	color: $links;
	&:hover {
		color: $button-orange-active;
	}
}

.photo_users {
    height: 43px;
    position: relative;
    width: 43px;
	&:before {
	    background-color: $brand-main-color;
	    content: "";
	    height: 12px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 12px;
	    border-radius: 50%;
	}
}

@media only screen and (max-width: 768px) {
	.sidebar {
		width: 100%;

		.logo {
			display: flex;
			justify-content: space-around;
		}

		ul {

			margin: 0 auto;
			.sidebar-menu {
				justify-content: space-between;
				max-width: 80%;
				margin-left: auto;
				margin-right: auto;
			}
		}

		.users {
			display: flex;
			justify-content: center;
		}
	}
}
